$dark-grey : #333333;
$blue : #99CCCC;
$light-grey : #666666;
$font : "Open Sans", sans-serif;
$background : url('../img/header_bg.svg');

@import "partials/mobile";
@import "partials/tablet";

.thin {
  font-weight: 300;
}
.bold {
  font-weight: 600;
}
.shown {
  display: block;
}