@media (max-width: 600px) {
  body {
    margin: 0; }
  .hidden {
    display: none; }
  #init-view {
    width: 100%;
    height: 500px;
    background-color: #99CCCC;
    padding-top: 5px; }
    #init-view #header {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      align-items: center;
      background-color: #333333;
      height: 50px; }
      #init-view #header #ufo-star {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        #init-view #header #ufo-star #top-logo {
          transform: scale(0.5);
          -webkit-filter: invert(100%);
          filter: invert(100%); }
        #init-view #header #ufo-star h3 {
          font-family: "Open Sans", sans-serif;
          color: #99CCCC;
          margin: 0 -10%; }
        #init-view #header #ufo-star p {
          display: none; }
      #init-view #header #menu {
        width: 50px;
        height: 50px; }
        #init-view #header #menu #menu-btn {
          transform: scale(0.75); }
    #init-view #menu-items {
      width: 100%; }
      #init-view #menu-items .menu-item {
        height: 50px;
        line-height: 50px;
        background-color: #333333;
        margin-top: 1px;
        color: #99CCCC;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        padding-left: 25px; }
    #init-view #info {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #init-view #info #top-ship {
        transform: scale(2); }
      #init-view #info p {
        width: 85%;
        margin-top: 60px;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        text-align: center;
        color: #333333; }
      #init-view #info #find-more {
        width: 85%;
        height: 45px;
        line-height: 50px;
        background-color: #666666;
        font-family: "Open Sans", sans-serif;
        color: white;
        margin-top: 10px;
        text-align: center; }
      #init-view #info hr {
        background-color: #333333;
        border: 0;
        margin-top: 0;
        height: 5px;
        width: 85%; }
  #deals {
    height: 550px; }
    #deals .moon {
      margin: 50px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 5px;
      width: 85%;
      height: 225px;
      background-color: #666666;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      color: white; }
      #deals .moon .to-moon {
        margin: 0 auto;
        line-height: 50px;
        font-weight: 600;
        font-size: 18px;
        width: 100%; }
      #deals .moon .emboss-top {
        margin-top: -10px;
        height: 2px;
        width: 100%;
        background-color: #444444;
        border: 0; }
      #deals .moon .emboss-bottom {
        margin-top: -25px;
        height: 1px;
        width: 100%;
        background-color: #999999;
        border: 0; }
      #deals .moon a {
        font-size: 48px;
        font-family: helvetica; }
      #deals .moon .underline {
        margin: -15px auto 15px auto;
        height: 5px;
        background-color: white;
        border: 0;
        width: 55%; }
      #deals .moon p {
        margin: -10px auto 10px auto;
        width: 70%;
        font-size: 13px; }
    #deals #ten-g {
      display: none; }
  #more {
    height: 50px;
    line-height: 17px;
    width: 100%;
    background-color: #99CCCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0; }
    #more p {
      font-family: "Open Sans", sans-serif;
      color: white; }
    #more #arrow {
      transform: scale(0.5);
      margin: 0 -50px 0 -50px; }
  #creds {
    margin-top: 0;
    height: 50px;
    width: 100%;
    background-color: #333333;
    text-align: center;
    display: flex;
    justify-content: center; }
    #creds p {
      width: 70%;
      color: #666666;
      font-size: 10px;
      font-family: "Open Sans", sans-serif; } }

@media (min-width: 601px) and (max-width: 965px) {
  body {
    margin: 0;
    font-family: "Open Sans", sans-serif; }
  .hidden {
    display: block; }
  #init-view {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #init-view #header {
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("../img/header_bg.svg");
      background-color: #99CCCC; }
      #init-view #header #ufo-star {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #init-view #header #ufo-star #top-logo {
          margin: -10px auto;
          -webkit-filter: invert(100%);
          filter: invert(100%); }
        #init-view #header #ufo-star #strfx {
          display: flex;
          flex-direction: row;
          text-align: center;
          line-height: 16px;
          color: #333333; }
          #init-view #header #ufo-star #strfx h3 {
            margin: 0; }
          #init-view #header #ufo-star #strfx p {
            margin: 0;
            font-size: 18px; }
    #init-view #menu-items {
      display: flex;
      justify-content: center;
      width: 90%;
      height: 35px;
      line-height: 35px;
      background-color: #333333;
      border-radius: 5px;
      margin: -17.5px auto; }
      #init-view #menu-items .menu-item {
        margin: 0 2.5%;
        color: #99CCCC;
        font-size: 12px; }
      #init-view #menu-items #hm {
        font-weight: bold;
        color: white; }
    #init-view #info {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 400px;
      width: 90%;
      background-color: #99CCCC;
      border-radius: 5px; }
      #init-view #info #top-ship {
        transform: scale(2);
        margin-top: 5px;
        -webkit-filter: invert(20%);
        filter: invert(20%); }
      #init-view #info p {
        width: 85%;
        margin-top: 60px;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        text-align: center;
        color: #333333; }
      #init-view #info #find-more {
        width: 35%;
        height: 45px;
        line-height: 50px;
        background-color: #666666;
        font-family: "Open Sans", sans-serif;
        color: white;
        margin-top: 10px;
        text-align: center;
        font-size: 12px; }
      #init-view #info hr {
        background-color: #333333;
        border: 0;
        margin-top: 0;
        height: 5px;
        width: 35%; }
  #deals {
    height: 450px; }
    #deals .moon {
      margin: 50px auto;
      border-radius: 5px;
      width: 85%;
      height: 175px;
      background-color: #666666;
      font-family: "Open Sans", sans-serif;
      color: white; }
      #deals .moon .to-moon {
        position: relative;
        top: 30%;
        left: 57.5%;
        font-weight: 600;
        font-size: 16px; }
      #deals .moon .emboss-top {
        position: relative;
        top: -38px;
        height: 100%;
        width: 2px;
        background-color: #444444;
        border: 0; }
      #deals .moon .emboss-bottom {
        position: relative;
        top: -222px;
        left: 1px;
        height: 100%;
        width: 1px;
        background-color: #999999;
        border: 0; }
      #deals .moon a {
        position: relative;
        top: -355px;
        left: 10%;
        font-size: 54px;
        font-family: helvetica; }
      #deals .moon .underline {
        position: relative;
        top: -360px;
        left: -25%;
        height: 5px;
        background-color: white;
        border: 0;
        width: 35%; }
      #deals .moon p {
        top: -400px;
        left: 57.5%;
        position: relative;
        width: 35%;
        font-size: 14px; }
    #deals #thirty-2 {
      display: none; }
  #more {
    height: 50px;
    line-height: 17px;
    width: 100%;
    background-color: #99CCCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0; }
    #more p {
      font-family: "Open Sans", sans-serif;
      color: white; }
    #more #arrow {
      transform: scale(0.5);
      margin: 0 -50px 0 -50px; }
  #creds {
    margin-top: 0;
    height: 200px;
    width: 100%;
    background-color: #333333;
    text-align: center;
    display: flex;
    justify-content: center; }
    #creds p {
      margin-top: 25px;
      width: 85%;
      color: #666666;
      font-size: 14px;
      font-family: "Open Sans", sans-serif; } }

.thin {
  font-weight: 300; }

.bold {
  font-weight: 600; }

.shown {
  display: block; }
